meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
link(rel="stylesheet", type="text/css", href="style.css")

nav
  ul
    li #[a(href="/country/br") Brasil] 
    li #[a(href="/country/al") Alemanha]
    li #[a(href="/country/us") Estados Unidos]