header
  div.w-header.w-container
    div.w-header__item.w-logo
      img(src="img/brand.png", alt="Logo Webedia")
    div.w-header__item.w-search
      form.w-search__form(method="")
        input.w-search__form__item(type="text")
nav
  ul.w-container
    li #[a(href="#") Notícias em Destaque]
    li #[a(href="#") Notícias em Destaque]
    li #[a(href="#") Notícias em Destaque]
    li #[a(href="#") Notícias em Destaque]
    li #[a(href="#") Notícias em Destaque]